.upload {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

#app-content-wrapper #app-content #app-navigation .nav {
    background-color: black;
}

#app-content-wrapper #app-content #app-navigation {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: black;
    padding: 0 15px;
    padding-top: 50px;
}

#app-content-wrapper.with-transition #app-content {
    background-color: black;
    -webkit-transition: .2s ease-in-out all;
    -moz-transition: .2s ease-in-out all;
    -o-transition: .2s ease-in-out all;
    -ms-transition: .2s ease-in-out all;
    transition: .2s ease-in-out all;
}

@media (max-width: 900px) {
    #app-content-wrapper.show-nav #app-content {
        padding-right: 15px;
        background-color: black;
    }
}

#app-content-wrapper.show-nav #app-content {
    padding-right: 300px;
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    background-color: black;
}